body{font-size:12px;font-family:Arial,Tahoma;color:#363636}
/*body{background: #4396CA url(../images/bg_body.png) repeat-x 0 -1421px;}*/
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,li,body,form,input,button,img,cite,strong,em,table,td,th{padding:0;margin:0;}
h1,h2,h3,h6{font-size:12px;}
h4,h5{font-size:14px;}
img,table,td,th{border:0;}
ul,ol{list-style-type:none;}
a:link,a:visited{color:#1499d6;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}