.thumb{position:relative;display:block}
.thumb img{overflow:hidden;display:block}
.thumb .cropper{position:absolute;top:0;left:0;text-indent:-9999px;z-index:100}
.thumb_32,.thumb_32 img,.thumb_32 .cropper{width:32px;height:32px}
.thumb_32 .cropper{background:transparent url(../images/cropper_32.png) no-repeat -10px -332px}
.thumb_32 .cropper:hover{background:transparent url(../images/cropper_32.png) no-repeat -10px -332px}
.thumb_37,.thumb_37 img,.thumb_37 .cropper{width:37px;height:37px}
.thumb_37 .cropper{background:transparent url(../images/cropper_37.png) no-repeat}
.thumb_37 .cropper:hover{background:transparent url(../images/cropper_37.png) no-repeat 0 -37px}
.thumb_42,.thumb_42 img,.thumb_42 .cropper{width:42px;height:42px}
.thumb_42 .cropper{background:transparent url(../images/cropper_42.png) no-repeat}
.thumb_42 .cropper:hover,a.block_link:hover .thumb_42 .cropper{background:transparent url(../images/cropper_42.png) no-repeat 0 -42px}
.thumb_47,.thumb_47 img,.thumb_47 .cropper{width:47px;height:47px}
.thumb_47 .cropper{background:transparent url(../images/cropper_47.png) no-repeat}
.thumb_47 .cropper:hover{background:transparent url(../images/cropper_47.png) no-repeat 0 -47px;}
.thumb_52,.thumb_52 img,.thumb_52 .cropper{width:52px;height:52px}
.thumb_52 .cropper{background:transparent url(../images/cropper_52.png) no-repeat}
.thumb_52 .cropper:hover{background:transparent url(../images/cropper_52.png) no-repeat 0 -52px}
.thumb_57,.thumb_57 img,.thumb_57 .cropper{width:57px;height:57px}
.thumb_57 .cropper{background:transparent url(../images/cropper_57.png) no-repeat}
.thumb_57 .cropper:hover{background:transparent url(../images/cropper_57.png) no-repeat 0 -57px}
.thumb_62,.thumb_62 img,.thumb_62 .cropper{width:62px;height:62px}
.thumb_62 .cropper{background:transparent url(../images/cropper_62.png) no-repeat}
.thumb_62 .cropper:hover{background:transparent url(../images/cropper_62.png) no-repeat 0 -62px}
.thumb_67,.thumb_67 img,.thumb_67 .cropper{width:67px;height:67px}
.thumb_67 .cropper{background:transparent url(../images/cropper_67.png) no-repeat}
.thumb_67 .cropper:hover{background:transparent url(../images/cropper_67.png) no-repeat 0 -67px}
.thumb_72,.thumb_72 img,.thumb_72 .cropper{width:72px;height:72px}
.thumb_72 .cropper{background:transparent url(../images/cropper_72.png) no-repeat}
.thumb_72 .cropper:hover{background:transparent url(../images/cropper_72.png) no-repeat 0 -72px}
.thumb_77,.thumb_77 img,.thumb_77 .cropper{width:77px;height:77px}
.thumb_77 .cropper{background:transparent url(../images/cropper_77.png) no-repeat 0 0}
.thumb_77 .cropper:hover{background:transparent url(../images/cropper_77.png) no-repeat 0 -77px}
.thumb_82,.thumb_82 img,.thumb_82 .cropper{width:82px;height:82px}
.thumb_82 .cropper{background:transparent url(../images/cropper_82.png) no-repeat}
.thumb_82 .cropper:hover{background:transparent url(../images/cropper_82.png) no-repeat 0 -82px}
.thumb_87,.thumb_87 img,.thumb_87 .cropper{width:87px;height:87px}
.thumb_87 .cropper{background:transparent url(../images/cropper_87.png) no-repeat}
.thumb_87 .cropper:hover{background:transparent url(../images/cropper_87.png) no-repeat 0 -87px}
.thumb_92,.thumb_92 img,.thumb_92 .cropper{width:92px;height:92px}
.thumb_92 .cropper{background:transparent url(../images/cropper_92.png) no-repeat}
.thumb_92 .cropper:hover{background:transparent url(../images/cropper_92.png) no-repeat 0 -92px}
.thumb_97,.thumb_97 img,.thumb_97 .cropper{width:97px;height:97px}
.thumb_97 .cropper{background:transparent url(../images/cropper_97.png) no-repeat}
.thumb_97 .cropper:hover{background:transparent url(../images/cropper_97.png) no-repeat 0 -97px}
.thumb_102,.thumb_102 img,.thumb_102 .cropper{width:102px;height:102px}
.thumb_102 .cropper{background:transparent url(../images/cropper_102.png) no-repeat}
.thumb_102 .cropper:hover{background:transparent url(../images/cropper_102.png) no-repeat 0 -102px}
.thumb_107,.thumb_107 img,.thumb_107 .cropper{width:107px;height:107px}
.thumb_107 .cropper{background:transparent url(../images/cropper_107.png) no-repeat}
.thumb_107 .cropper:hover{background:transparent url(../images/cropper_107.png) no-repeat 0 -107px}
.thumb_112,.thumb_112 img,.thumb_112 .cropper{width:112px;height:112px}
.thumb_112 .cropper{background:transparent url(../images/cropper_112.png) no-repeat}
.thumb_112 .cropper:hover{background:transparent url(../images/cropper_112.png) no-repeat 0 -112px}
.thumb_117,.thumb_117 img,.thumb_117 .cropper{width:117px;height:117px}
.thumb_117 .cropper{background:transparent url(../images/cropper_117.png) no-repeat}
.thumb_117 .cropper:hover{background:transparent url(../images/cropper_117.png) no-repeat 0 -117px}
.thumb_122,.thumb_122 img,.thumb_122 .cropper{width:122px;height:122px}
.thumb_122 .cropper{background:transparent url(../images/cropper_122.png) no-repeat 0px -125px}
.thumb_122 .cropper:hover{background:transparent url(../images/cropper_122.png) no-repeat 0px -247px}
.thumb_127,.thumb_127 img,.thumb_127 .cropper{width:127px;height:127px}
.thumb_127 .cropper{background:transparent url(../images/cropper_127.png) no-repeat}
.thumb_127 .cropper:hover{background:transparent url(../images/cropper_127.png) no-repeat 0 -127px}
.thumb_132,.thumb_132 img,.thumb_132 .cropper{width:132px;height:132px}
.thumb_132 .cropper{background:transparent url(../images/cropper_132.png) no-repeat}
.thumb_132 .cropper:hover{background:transparent url(../images/cropper_132.png) no-repeat 0 -132px}
.thumb_137,.thumb_137 img,.thumb_137 .cropper{width:137px;height:137px}
.thumb_137 .cropper{background:transparent url(../images/cropper_137.png) no-repeat}
.thumb_137 .cropper:hover{background:transparent url(../images/cropper_137.png) no-repeat 0 -137px}
.thumb_142,.thumb_142 img,.thumb_142 .cropper{width:142px;height:142px}
.thumb_142 .cropper{background:transparent url(../images/cropper_142.png) no-repeat}
.thumb_142 .cropper:hover{background:transparent url(../images/cropper_142.png) no-repeat 0 -142px}
.thumb_147,.thumb_147 img,.thumb_147 .cropper{width:147px;height:147px}
.thumb_147 .cropper{background:transparent url(../images/cropper_147.png) no-repeat}
.thumb_147 .cropper:hover{background:transparent url(../images/cropper_147.png) no-repeat 0 -147px}
.thumb_152,.thumb_152 img,.thumb_152 .cropper{width:152px;height:152px}
.thumb_152 .cropper{background:transparent url(../images/cropper_152.png) no-repeat}
.thumb_152 .cropper:hover{background:transparent url(../images/cropper_152.png) no-repeat 0 -152px}
.thumb_157,.thumb_157 img,.thumb_157 .cropper{width:157px;height:157px}
.thumb_157 .cropper{background:transparent url(../images/cropper_157.png) no-repeat}
.thumb_157 .cropper:hover{background:transparent url(../images/cropper_157.png) no-repeat 0 -157px}
.thumb_162,.thumb_162 img,.thumb_162 .cropper{width:162px;height:162px}
.thumb_162 .cropper{background:transparent url(../images/cropper_162.png) no-repeat}
.thumb_162 .cropper:hover{background:transparent url(../images/cropper_162.png) no-repeat 0 -162px}
.thumb_167,.thumb_167 img,.thumb_167 .cropper{width:167px;height:167px}
.thumb_167 .cropper{background:transparent url(../images/cropper_167.png) no-repeat}
.thumb_167 .cropper:hover{background:transparent url(../images/cropper_167.png) no-repeat 0 -167px}
.thumb_172,.thumb_172 img,.thumb_172 .cropper{width:172px;height:172px}
.thumb_172 .cropper{background:transparent url(../images/cropper_172.png) no-repeat}
.thumb_172 .cropper:hover{background:transparent url(../images/cropper_172.png) no-repeat 0 -172px}
.thumb_177,.thumb_177 img,.thumb_177 .cropper{width:177px;height:177px}
.thumb_177 .cropper{background:transparent url(../images/cropper_177.png) no-repeat}
.thumb_177 .cropper:hover{background:transparent url(../images/cropper_177.png) no-repeat 0px -177px}
.thumb_182,.thumb_182 img,.thumb_182 .cropper{width:182px;height:182px}
.thumb_182 .cropper{background:transparent url(../images/cropper_182.png) no-repeat}
.thumb_182 .cropper:hover{background:transparent url(../images/cropper_182.png) no-repeat 0 -182px}
.thumb_187,.thumb_187 img,.thumb_187 .cropper{width:187px;height:187px}
.thumb_187 .cropper{background:transparent url(../images/cropper_187.png) no-repeat}
.thumb_187 .cropper:hover{background:transparent url(../images/cropper_187.png) no-repeat 0 -187px}
.thumb_207,.thumb_207 img,.thumb_207 .cropper{width:207px;height:207px}
.thumb_207 .cropper{background:transparent url(../images/cropper_207.png) no-repeat}
.thumb_207 .cropper:hover{background:transparent url(../images/cropper_207.png) no-repeat 0 -207px}
.thumb_252,.thumb_252 img,.thumb_252 .cropper{width:252px;height:252px}
.thumb_252 .cropper{background:transparent url(../images/cropper_252.png) no-repeat}
.thumb_252 .cropper:hover{background:transparent url(../images/cropper_252.png) no-repeat 0 -252px}
.product_vert{position:relative;float:left;width:122px;margin:0 12px 20px 0}
.product_vert .item_details{margin-top:5px;text-align:center;overflow:hidden}
.product_vert .item_details .top_detail{white-space:nowrap;letter-spacing:normal;padding:0;font-size:12px;line-height:16px;font-family:inherit;line-height:inherit}
.product_vert .item_details .top_detail a{color:#0090d1}
.product_vert .item_details .sub_detail{font-style:italic;white-space:nowrap;letter-spacing:normal;padding:0;font-size:12px;line-height:16px;font-family:inherit;line-height:inherit}
.product_vert .item_details .sub_detail a{color:#79adcc}
.product_vert .item_details .top_detail a:hover,.product_vert .item_details .sub_detail a:hover{border-bottom:0;text-decoration:underline}
.product_vert .item_price{position:absolute;bottom:0;right:0;height:21px}
.item_price span{background:url(../images/cropper_122.png) no-repeat 0px -82px;color:#fff;float:right;height:19px;line-height:16px;padding:2px 4px 0px 5px;font-weight:bold;text-decoration:none;}
#com_main_market .category .gallery .product_vert{width: 152px;}
.last{margin-right:0!important}

.squares .list_product{width:764px;overflow:hidden;margin:8px 0 0 1px;}
.squares .list_product .product_vert{float:left;position:relative;margin:0px 0px 20px 0px;}
.squares .list_product .product_vert{margin-left:10px;width:177px;}
.squares .list_product .product_vert .info_more,.squares .list_product .product_vert  .item_details .item_price{display:none;}


.list .list_product{width:765px;overflow:hidden;margin-top:10px;}
.list .list_product .product_vert{width:755px;padding:5px 0 5px 5px;overflow:hidden;border-bottom:1px dashed #ddd;}
.list .list_product .product_vert .thumb_177{float:left;}
.list .list_product .product_vert .item_price{display:none;}
.list .list_product .product_vert  .item_details .item_price{display:block;position:relative;text-align:center;color:#555}
.list .list_product .product_vert  .item_details .item_price strong{font-size:14px;color:#ee0000;}
.list .list_product .product_vert .item_details{float:left;width:330px;height:177px;margin-top:0px;padding:0 5px 0 15px;}
.list .list_product .product_vert .item_details .top_detail,.list .list_product .product_vert .item_details .sub_detail {text-align:left;padding:0px 10px;white-space:normal;}
.list .list_product .product_vert .item_details .top_detail a{line-height:14px;}
.list .list_product .product_vert .info_more{display:block;float:right;width:210px;height:177px;color:#555;}
.list .list_product .product_vert .info_more  strong{color:#D96C00;font-size:14px;}
.info_more .sub_detail a:hover{text-decoration:underline;}

.product_horiz{position:relative;overflow:hidden;padding:15px 0;border-bottom:1px dashed #CCC}
.product_horiz .thumb{float:left;margin-right:15px}
.product_horiz .item_details{float:left;max-width:230px;text-align:left;}
.product_horiz .item_details .top_detail{height:1em;width:230px;overflow:hidden;padding:0;line-height:1;white-space:nowrap}
.product_horiz .item_details .top_detail a{font-weight:bold;}
.product_horiz .item_details .sub_detail{float:left;margin-bottom:3px;padding:0;font-size:10px;color:#888;font-style:italic;letter-spacing:normal;line-height:16px}
.product_horiz .item_details .sub_detail a{color:#888}
.product_horiz .item_details .description{clear:both;margin-bottom:5px;font-size:11px;color:#555;padding:0;line-height:16px}
.product_horiz .item_details .stats{overflow:hidden;padding-top:3px;}
.product_horiz .item_details .fans{float:left;margin-right:10px;padding-left:14px;font-size:10px;font-weight:normal;background:transparent url(../images/icon_heart_red_10.png) no-repeat 0 1px}
.product_horiz .item_details .fans a{color:#ff535c;font-weight:bold}
.product_horiz .item_details .buy_now{float:left;margin-right:10px;padding-left:11px;font-size:10px;font-weight:normal;background:transparent url(../images/icon_dollar_green_10.png) no-repeat scroll 0 1px}
.product_horiz .item_details .buy_now a{color:#197b30;font-weight:bold}
.product_horiz .item_price{position:absolute;bottom:0;right:0;height:21px}
.gallery.wide{position:relative;float:left;display:block;padding:20px 22px 0 23px}
.gallery.wide .product_vert{margin:0 10px 20px 0;width:177px}
.store_vert{position:relative;float:left;margin-right:57px;margin-bottom:20px;width:181px;height:227px}
.store_vert h5,.store_vert p{overflow:hidden;white-space:nowrap}
.store_vert p.store_location{margin-bottom:6px;padding-bottom:0;font-size:11px;font-style:italic;color:#79adcc;}
.store_vert .thumb.right{margin-right:0}
.store_vert .thumb_117{float:left;margin:0 6px 6px 0}
.store_vert .thumb_57{float:left;margin:0 5px 5px 0}