{include file="header.html"}
<div class="wrap">
            <div class="public table">
              <table style="font-size:12px">
               <tr>
                      <td class="searchSetAutoUP">
                          <div class="titleSearchAuto">{$lang.tieude_tinvip}</div>
                      </td>
                   </tr>
                   
                   <tr>
                       <td class="searchSetAutoUP">
		                   <form action="index.php?app=plquanly&amp;act=key_vip" method="POST" enctype="multipart/form-data">               
								<label for="idNews"><span class="lblIdNews">{$lang.maid}: </span></label>
								<input type="text" size="10" id="idNews" name="idNews">
								<input type="submit" name="searchup" value="Tìm kiếm"/>																
		                   </form>
	                   </td>
                   </tr>
                    <!--{if $timkiem}-->
                   <tr>
                       <td valign="top">
                        <!--{foreach from=$timkiem item=key}-->
                          <fieldset>
                                <legend>{$lang.legend_vip}</legend>
                                <form method="POST" action="index.php?app=plquanly&amp;act=dangtinvip&amp;id={$key.id}" enctype="multipart/form-data">
                                <!--{if $timkiem}-->
                                  <img border="0" align="absmiddle" title="tự động đăng tin" alt="tự động đăng tin" src="data/files/mall/icon_upauto.png">
                                  &nbsp;&nbsp;
                                     <span style="font-weight:bold;"><a style="color: #0060CB;outline: medium none;text-decoration: none;"href="index.php?app=qldangtin&amp;act=doctin&amp;id={$key.id}">{$key.title|escape}</a></span>
                                  
                                <!--{else}-->
                                   <span style="font-weight:bold;color:red;">{$lang.no_sea}</span>
                                <!--{/if}-->
									<div class="inforGuideUser">
                                        <div class="buyGuideVip">
                                          {$lang.uptin_vip}
                                        </div>		
                                        <div class="labelGuideUP">
                                        {$lang.date_vip}
                                           <input type="text" value="1" id="timeUp" name="qty_item">
                                           <input type="hidden" value="{$key.timevip|escape}" name="thoigianvip"/>
                                           <label for="timeUp">ngày</label>
                                        </div>	
                          </fieldset>
                          <!--{/foreach}-->
                       </td>
                   </tr>
                   <tr>
                    <td align="center">
                         <input id="executeAutoUp" type="submit" name="executeAutoUp" value="Thực hiện">
                    </td>
                   </tr>
              </form>
                 <!--{else}-->
                 <tr>
                     <td>
                         <span style="font-weight:bold;color:red;">{$lang.no_error}</span>
                     </td>
                 </tr>
               <!--{/if}-->
                </table>              
            </div>
       
    <div class="clear"></div>
</div>
{include file=footer.html}